name: A workflow for DevOps Group Project
on: push

jobs:
  build:
    name: DevOps Group Project Activity
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 18
        uses: actions/setup-java@v4
        with:
          java-version: '18'
          distribution: 'temurin'
      - name: Unit Tests
        run: mvn -Dtest=com.napier.gp_project.AppTest test
      - name: Package and Run docker compose
        run: |
          mvn package -DskipTests
          docker compose up --abort-on-container-exit

